<div class="main-container">
    <app-admin-nav></app-admin-nav>
    <div class="right-container">
        <div class="graph-container">
            <div class="graph-head">
                <div class="objects-container">
                    <h3>Select Object</h3>
                    <ng-container *ngFor="let object of objects;let i=index">
                        <div class="field-card">
                            <input type="checkbox" [id]="object.id+'1'" [value]="object.value"
                                [checked]="object.checked" (change)="toggleValue(i, 'object')">
                            <label [for]="object.id+'1'">{{object.value}}</label>
                        </div>
                    </ng-container>
                </div>
                <div class="objects-container" *ngIf="selectedObjects.length != 0">
                    <h3> Row : </h3>
                    <ng-container *ngFor="let rowLabel of rowLabelsKeys;let i=index">
                        <div class="field-card">
                           <input type="radio" name="rowLabel" [id]="rowLabel" [value]="rowLabel"
                                [checked]="rowLabels.get(rowLabel)" (change)="toggleLabelValue('row', rowLabel)">
                            <label [for]="rowLabel">{{rowLabel}}</label>
                        </div>
                    </ng-container>
                </div>
                <div class="objects-container" *ngIf="selectedRowLabel">
                    <h3> Column :</h3>
                    <ng-container *ngFor="let columnLabel of possibleColumnLabelsKeys;let i=index">
                        <div class="field-card">
                            <input type="radio" name="columnLabel" [id]="columnLabel" [value]="columnLabel"
                                [checked]="possibleColumnLabels.get(columnLabel)"
                                (change)="toggleLabelValue('column', columnLabel)">
                            <label [for]="columnLabel">{{columnLabel}}</label>
                        </div>
                    </ng-container>
                </div>
                <div class="objects-container" *ngIf="selectedChart != 'pie' && additionalLabelsKeys.length != 0">
                    <h3> compare : </h3>
                    <ng-container *ngFor="let columnLabel of additionalLabelsKeys;let i=index">
                        <div class="field-card">
                            <input type="checkbox" [id]="'additional'+columnLabel" [value]="columnLabel"
                                (change)="toggleLabelValue('additional', columnLabel)">
                            <label [for]="'additional'+columnLabel">{{columnLabel}}</label>
                        </div>
                    </ng-container>
                </div>
                <div class="chart-options-container">
                    <div class="chart-type-container">
                        <h3>Select Chart Type:</h3>
                        <select id="chartType" (change)="onChartTypeChange($event)">
                            <option default value="">Selected a Chart</option>
                            <option value="bar">Bar Chart</option>
                            <option value="line">Line Chart</option>
                            <option value="pie">Pie Chart</option>
                        </select>        
                    </div>
                    <h3>Filters</h3>
                    <div>
                        <input type="radio" name="sort-options" id="ascendingOrder" (click)="sortData('ascending')" (keydown.enter)="sortData('ascending')">
                        <label for="ascendingOrder">Ascending order</label>
                        <input type="radio" name="sort-options" id="DescendingOrder" (click)="sortData('descending')" (keydown.enter)="sortData('descending')">
                        <label for="DescendingOrder">Descending order</label>
                        <br>
                        <label for="filterValue">Max Range : </label>
                        <input type="number" name="filterValue" [(ngModel)]="filterValue" (change)="sortData('basedOnValue')">
                        <!-- <input type="color" name="filterValue">                  -->
                        <select name="particularCity" [(ngModel)]="selectedParticularCity" id="ParticularCity" (change)="showDetailedProduct()">City Name:
                            <ng-container *ngFor="let cityName of cityNames">
                                <option [value]="cityName">{{cityName}}</option>
                            </ng-container>
                         </select>
                          <select name="particularProduct" [(ngModel)]="selectedParticularProduct" id="particularProduct" (change)="showDetailedProduct()">Product Name:
                            <ng-container *ngFor="let productName of productNames">
                                <option [value]="productName">{{productName}}</option>
                            </ng-container>
                         </select>
                    </div>
                </div>
            </div>
            <div class="main-graph">
                <div #chartContainer class="chart-container"></div>
            </div>
        </div>
    </div>
</div>