<div class="objects-container">
    <div class="object-container">
        <div *ngFor="let object of objects">
            <ul>
                <h3>{{object.value}}</h3>
                <ng-container *ngFor="let label of mappedObjectLabels.get(object.value)">
                    <li (keydown.enter)="assignFieldValue(object.value)" (click)="assignFieldValue(object.value)">{{label}}</li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>
<div class="objects-container">
    <h3> Column :</h3>
    <div class="selected-fields">
        {{selectedRowLabel}}
    </div>
</div>