<div class="container">
    <app-admin-nav></app-admin-nav>
    <div class="right-container">
        <div class="table-container">
            <div class="table-head">
                <div class="table-head-title">
                    <h2>Orders</h2>
                    <div class="table-head-searchbar">
                        <input type="text" placeholder="Search by Email" name="searchValue" [(ngModel)]="searchBarValue">
                    </div>
                </div>
                <div class="table-head-options">
                    <a (click)="modifyOrderView('all')" [ngClass]="{'active' : viewName === 'all'}">All Orders</a>
                    <a (click)="modifyOrderView('recent')" [ngClass]="{'active' : viewName === 'recent'}">Recent</a>
                    <a (click)="modifyOrderView('pending')" [ngClass]="{'active' : viewName === 'pending'}">Pending</a>
                    <a (click)="modifyOrderView('delivered')" [ngClass]="{'active' : viewName === 'delivered'}">Delivered</a>
                </div>
            </div>
            <table>
                <thead>

                        <th>Order Id</th>
                        <th>Email</th>
                        <th>Order Date</th>
                        <th>Amount</th>
                        <th>Location</th>
                        <th>Status</th>
                </thead>
                <tbody>
                    <ng-container *ngIf="checkSearchValueFound(); else notFound">
                        <ng-container *ngFor="let order of filteredOrderData; let i = index;">
                            <tr *ngIf="order.email.toLowerCase().includes(searchBarValue.toLowerCase())">
                                <!-- <td class="truncate-text" title="{{ order.orderId }}">{{order.orderId}}</td> -->
                                <td>{{order.email}}</td>
                                <td>{{order.orderDate | date}}</td>
                                <td>{{order.totalPrice| currency : 'INR'}}</td>
                                <td>{{order.city}}, {{order.state}}</td>
                                <td><button (click)="updateOrderStatus(order)" [ngClass]="order.orderStatus == 'pending' ? 'pending' : 'delivered'">{{order.orderStatus.toUpperCase()}}</button></td>
                                <td  (click)="getParticularOrderDetail(order)"><button id="view-details-btn">View Details </button> </td>    
                            </tr>
                        </ng-container>
                    </ng-container>
                    <ng-template #notFound>
                        <tr>
                            <td colspan="6">No Orders Found</td>
                          </tr> 
                    </ng-template>
                </tbody>
            </table>
        </div>
   </div>
   <div class="order-details" [ngClass]="[showOrderDetails ? 'show-order' : (stopInitialAnimation ? 'not-in-view'  :  'hide-order')]">
    <div class="order-details-heading">
        <h1>Orders Details</h1>
        <img src="assets\close.png" alt="" (click)="toggleOrderDetailView()">
    </div>
    <div class="order-details-head">
        <h4>Email : {{clickedOrderDetail.email }}</h4>
        <h4>Ordered Date : {{clickedOrderDetail.orderDate | date : 'shortDate'}}</h4>
    </div>
    <table>
        <thead>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Amount</th>
        </thead>
       <tbody>
        <tr *ngFor="let product of orderDetails">
           <td>{{product?.productName}}</td> 
           <td>{{product?.discountedSellingPrice}}</td> 
           <td>{{product?.quantity}}</td> 
           <td>{{product.quantity * product.discountedSellingPrice}}</td> 
        </tr>
        <tr>
            <td></td>   
            <td></td>
            <td>Total Price</td>
            <td>{{particularOrderTotalPrice | currency : 'INR'}}</td>
        </tr>
       </tbody>
    </table>
</div>