<div class="main-container">
    <app-admin-nav></app-admin-nav>
    <div class="right-container">
        <div class="comparison-container" *ngIf="false">
            <div class="comparison-fields-head">
                <div class="comparison-fields-selector">
                    <select name="comparisonField1" id="" [(ngModel)]="comparisonField1" (change)="updateComparisonGraph()">
                        <ng-container *ngFor="let product of productLabels">
                            <option [value]="product" *ngIf="comparisonField2 != product">{{product}}</option>
                        </ng-container>
                    </select>        
                    <select name="comparisonField2" id="" [(ngModel)]="comparisonField2" (change)="updateComparisonGraph()">
                        <ng-container *ngFor="let product of productLabels">
                            <option [value]="product" *ngIf="comparisonField1 != product">{{product}}</option>
                        </ng-container>
                    </select>        
                </div>
            </div>
            <div class="comparisonGraph-main-container">
                <canvas id="comparisonGraph"></canvas>
                <div class="product-details-container">
                    <div class="product-details-card">

                    </div>
                    <div class="product-details-card">

                    </div>
                </div>
            </div>
        </div>
        <div class="graph-container"> 
           
            <div class="graph-head">
                <label for="chartType">Select Chart Type:</label>
                <select id="chartType" (change)="onChartTypeChange($event)">
                  <option value="bar">Bar Chart</option>
                  <option value="line">Line Chart</option>
                  <option value="pie">Pie Chart</option>
                </select>
                <select type="text" name="selectedRowLabel" [(ngModel)]="selectedRowLabel" (change)="updateGraph()">
                    <option *ngFor="let rowLabel of rowLabels" [value]="rowLabel">{{rowLabel}}</option>
                </select>
                <select type="text" name="selectedColumnLabel" [(ngModel)]="selectedColumnLabel" (change)="updateGraph()">
                    <option *ngFor="let columnLabel of columnLabels" [value]="columnLabel">{{columnLabel}}</option>
                </select>
              </div>
            <div class="main-graph">
                <div #chartContainer class="chart-container"></div>
            </div> 
        </div>
    </div>   
</div>