.dashboard-options-container{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 0px 1px;
    width: 200px;
    height: 100vh;
    gap: 15px;
    border-right: 1px rgb(213, 213, 218) solid;
}
.dashboard-options-container img{
    place-self: center;
    width: 100px;
    padding-top: 29px;
}
.dashboard-options-container ul{
    margin: 0px;
    padding: 0px;
}
.dashboard-options-container ul li{
    list-style-type: none;
    font-size: 18px;
    padding: 10px 10px 10px 30px;
}
ul li:hover{
    background-color: rgb(233, 230, 230);
    transition: ease 0.3s;
    cursor: pointer;
}
.active{
    background-color: rgb(62, 34, 224) !important;
    color: rgb(255, 255, 255);
}